Client_Cinema/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" />
  <xs:element name="Addlangage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="Langue" nillable="true" type="q1:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddlangageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="AddlangageResult" nillable="true" type="q2:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="Act" nillable="true" type="q3:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="AddactorResult" nillable="true" type="q4:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addstore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="str" nillable="true" type="q5:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddstoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="AddstoreResult" nillable="true" type="q6:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addadresse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="ad" nillable="true" type="q7:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddadresseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="AddadresseResult" nillable="true" type="q8:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listestore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListestoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" minOccurs="0" name="ListestoreResult" nillable="true" type="q9:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>