Client_Cinema/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LanguageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILanguageService_Addlangage_InputMessage">
    <wsdl:part name="parameters" element="tns:Addlangage" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addlangage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddlangageResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addactor_InputMessage">
    <wsdl:part name="parameters" element="tns:Addactor" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addactor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddactorResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addstore_InputMessage">
    <wsdl:part name="parameters" element="tns:Addstore" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addstore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddstoreResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addadresse_InputMessage">
    <wsdl:part name="parameters" element="tns:Addadresse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Addadresse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddadresseResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Listestore_InputMessage">
    <wsdl:part name="parameters" element="tns:Listestore" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_Listestore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListestoreResponse" />
  </wsdl:message>
  <wsdl:portType name="ILanguageService">
    <wsdl:operation name="Addlangage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Addlangage" message="tns:ILanguageService_Addlangage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/AddlangageResponse" message="tns:ILanguageService_Addlangage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addactor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Addactor" message="tns:ILanguageService_Addactor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/AddactorResponse" message="tns:ILanguageService_Addactor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addstore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Addstore" message="tns:ILanguageService_Addstore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/AddstoreResponse" message="tns:ILanguageService_Addstore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addadresse">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Addadresse" message="tns:ILanguageService_Addadresse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/AddadresseResponse" message="tns:ILanguageService_Addadresse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listestore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/Listestore" message="tns:ILanguageService_Listestore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/ListestoreResponse" message="tns:ILanguageService_Listestore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILanguageService" type="tns:ILanguageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addlangage">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Addlangage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addactor">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Addactor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addstore">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Addstore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addadresse">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Addadresse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listestore">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/Listestore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LanguageService">
    <wsdl:port name="BasicHttpBinding_ILanguageService" binding="tns:BasicHttpBinding_ILanguageService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Serveur_Cinema/LanguageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>