Client_Cinema/Connected Services/ServiceReference1/Serveur_Cinema.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Serveur_Cinema.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="Language_Id" nillable="true" type="tns:ArrayOfFilm" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original_Language_Id" nillable="true" type="tns:ArrayOfFilm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilmId" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ActorId" nillable="true" type="tns:ArrayOfFilm_Actor" />
      <xs:element minOccurs="0" name="Film_CategoryId" nillable="true" type="tns:ArrayOfFilm_Category" />
      <xs:element minOccurs="0" name="InventoryId" nillable="true" type="tns:ArrayOfInventory" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release_Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rental_Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Rental_Rate" type="xs:int" />
      <xs:element minOccurs="0" name="Replacement_Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Special_Features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="ArrayOfFilm_Actor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film_Actor" nillable="true" type="tns:Film_Actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm_Actor" nillable="true" type="tns:ArrayOfFilm_Actor" />
  <xs:complexType name="Film_Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActorId" type="xs:int" />
      <xs:element minOccurs="0" name="FilmId" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ActorId" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film_Actor" nillable="true" type="tns:Film_Actor" />
  <xs:complexType name="ArrayOfFilm_Category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film_Category" nillable="true" type="tns:Film_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm_Category" nillable="true" type="tns:ArrayOfFilm_Category" />
  <xs:complexType name="Film_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="FilmId" type="xs:int" />
      <xs:element minOccurs="0" name="Film_CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film_Category" nillable="true" type="tns:Film_Category" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="InventoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RentalId" nillable="true" type="tns:ArrayOfRental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
  <xs:complexType name="ArrayOfRental">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rental" nillable="true" type="tns:Rental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRental" nillable="true" type="tns:ArrayOfRental" />
  <xs:complexType name="Rental">
    <xs:sequence>
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayementId" nillable="true" type="tns:ArrayOfPayement" />
      <xs:element minOccurs="0" name="RentalId" type="xs:int" />
      <xs:element minOccurs="0" name="Rental_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Return_Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rental" nillable="true" type="tns:Rental" />
  <xs:complexType name="ArrayOfPayement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payement" nillable="true" type="tns:Payement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayement" nillable="true" type="tns:ArrayOfPayement" />
  <xs:complexType name="Payement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayementId" type="xs:int" />
      <xs:element minOccurs="0" name="Payement_Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payement" nillable="true" type="tns:Payement" />
  <xs:complexType name="Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActorId" type="xs:int" />
      <xs:element minOccurs="0" name="Film_ActorId" nillable="true" type="tns:ArrayOfFilm_Actor" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actor" nillable="true" type="tns:Actor" />
  <xs:complexType name="Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="InventoryId" nillable="true" type="tns:ArrayOfInventory" />
      <xs:element minOccurs="0" name="Last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StaffId" nillable="true" type="tns:ArrayOfStaff" />
      <xs:element minOccurs="0" name="StoreId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayementId" nillable="true" type="tns:ArrayOfPayement" />
      <xs:element minOccurs="0" name="RentalId" nillable="true" type="tns:ArrayOfRental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staff" nillable="true" type="tns:Staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaff" nillable="true" type="tns:ArrayOfStaff" />
  <xs:complexType name="Staff">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayementId" nillable="true" type="tns:ArrayOfPayement" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RentalId" nillable="true" type="tns:ArrayOfRental" />
      <xs:element minOccurs="0" name="StaffId" type="xs:int" />
      <xs:element minOccurs="0" name="StoreId" nillable="true" type="tns:ArrayOfStore" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
  <xs:complexType name="ArrayOfStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStore" nillable="true" type="tns:ArrayOfStore" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="Adresse_Name1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adresse_Name2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffId" nillable="true" type="tns:ArrayOfStaff" />
      <xs:element minOccurs="0" name="StoreId" nillable="true" type="tns:ArrayOfStore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>